version: '3.9'

services:
  postgres:
    image: postgres:13
    environment:
      POSTGRES_DB: app_development
      POSTGRES_USER: us3r1723
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: .
      dockerfile: Dockerfile
      target: backend-runtime
    depends_on:
      - postgres
    environment:
      DATABASE_URL: postgresql://us3r1723:password@postgres:5432/app_development
      RAILS_ENV: development
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app
    tty: true

  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      target: frontend-runtime
    depends_on:
      - backend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
    environment:
      - CHOKIDAR_USEPOLLING=true
      - VITE_API_URL=http://backend:3000

volumes:
  postgres_data:
